body {
	margin: 0;
	font-family: Helvetica;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}


#logo {
	height: 150px;
	width: 220px;
}

h1 {
	color: #00A2D2;
}